:root {
  --text-main-color: #757575;
  --text-secondary-color: #212121;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --accent-color: #2196F3;
  --accent-secondary-color: #188CE8;
  --bg-primary-color: #2F303A;
  --bg-secondary-color: #F5F5F5;
  --bg-tertiary-color: #F5F4FA;
}

body {
  background-color: var(--white-color);
  color: var(--text-main-color);
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.list-none {
  list-style: none;
}

.link-none {
  text-decoration: none;
}


/* header */

.logo-nav,
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-nav .accent-color {
  color: var(--accent-color);
}

.logo-nav .secondary-color {
  color: var(--black-color);
}

.site-nav,
.contact-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--text-secondary-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contact-nav .link {
  color: var(--text-main-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-color);
}


/* Main page */

/* section */

.section-title {
  color: var(--text-secondary-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* hero */

.hero {
  background-color: var(--bg-primary-color);
}

.hero-title {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.55;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero .button {
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: auto;
}

.hero .button:hover,
.hero .button:focus {
  background-color: var(--accent-secondary-color);
}

/* features */

.feature-list .title {
  color: var(--text-secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* staffs */

.staff-list .name {
  color: var(--text-secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.staff-list .text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}


/* Portfolio page */

.portfolio-button .button {
  color: var(--text-secondary-color);
  background-color: var(--bg-tertiary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-button .button:hover,
.portfolio-button .button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-list .link {
  color: var(--text-secondary-color);
}

.portfolio-list .title {
  color: var(--text-secondary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
}

.portfolio-list .text {
  color: var(--text-main-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* footer */

footer {
  background-color: var(--bg-primary-color);
}

.logo-footer .accent-color {
  color: var(--accent-color);
}

.logo-footer .secondary-color {
  color: var(--white-color);
}

.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-footer .address {
  color: var(--white-color);
}

.contact-footer .link {
  color: rgba(255, 255, 255, 0.6);
}

.contact-footer .link:hover,
.contact-footer .link:focus {
  color: var(--accent-color);
}